.vscode
.vs/
vendor/
public/vendor
public/uploads
app/uploads
app/config/config.php
.idea/
public/info.php
public/uploads
composer.lock
public/php_errors.log
components/
dev_resources_archive/
bfg.jar
filetmp/
public/largefiles/

