<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
        <rewrite>
            <rules>
                <clear />

                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^vendor/" />
                    <action type="None" />
                </rule>

                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^public/" />
                    <action type="None" />
                </rule>

                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{DOCUMENT_ROOT}/public/{R:1}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="/public/{R:1}" />
                </rule>

                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="public/index.php?url={R:1}" appendQueryString="true" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
