<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog || Volga Responsive  Ecommerce Bootstrap Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
        <!-- Main Header Area Start Here -->
        <header>
            <!-- Header Top Start Here -->
            <div class="header-top light-blue-bg">
                <div class="container">
                    <div class="col-sm-12">
                        <div class="row justify-content-md-between justify-content-center">
                            <!-- Header Top Left Start -->
                            <div class="header-top-left">
                                <ul>
                                    <li><span>Language:</span><a href="#"><img src="img/header/1.jpg" alt="language-selector">English<i class="ion-arrow-down-b"></i></a>
                                        <!-- Dropdown Start -->
                                        <ul class="ht-dropdown">
                                            <li><a href="#"><img src="img/header/1.jpg" alt="language-selector">English</a></li>
                                            <li><a href="#"><img src="img/header/2.jpg" alt="language-selector">Francis</a></li>
                                        </ul>
                                        <!-- Dropdown End -->
                                    </li>
                                    <li><span>Currency:</span><a href="#">USD $<i class="ion-arrow-down-b"></i></a>
                                        <!-- Dropdown Start -->
                                        <ul class="ht-dropdown">
                                            <li><a href="#">English</a></li>
                                            <li><a href="#">Français</a></li>
                                        </ul>
                                        <!-- Dropdown End -->
                                    </li>
                                </ul>
                            </div>
                            <!-- Header Top Left End -->
                            <!-- Header Top Right Start -->
                            <div class="header-top-right">
                                <ul>
                                    <li><a href="account.html">My Account</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="login.html">Sign in</a></li>
                                </ul>
                            </div>
                            <!-- Header Top Right End -->
                        </div>
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End Here -->
            <!-- Header Middle Start Here -->
            <div class="header-middle light-blue-bg ptb-35">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-12">
                            <div class="logo mb-all-30">
                                <a href="index.html"><img src="img/logo/logo.png" alt="logo-image"></a>
                            </div>
                        </div>
                        <!-- Categorie Search Box Start Here -->
                        <div class="col-lg-6 col-md-12">
                            <div class="categorie-search-box">
                                <form action="#">
                                    <div class="form-group">
                                        <select class="bootstrap-select" name="poscats">
                                            <option value="0">All categories</option>
                                            <option value="2">Electronics</option>
                                            <option value="3">Cameras</option>
                                            <option value="4">Cords and Cables</option>
                                            <option value="5">gps accessories</option>
                                            <option value="6">Microphones</option>
                                            <option value="7">Wireless Transmitters</option>
                                            <option value="8">GamePad</option>
                                            <option value="9">cube lifestyle hd</option>
                                            <option value="10">Bags</option>
                                            <option value="11">Bottoms</option>
                                            <option value="12">Shirts</option>
                                            <option value="13">Tailored</option>
                                            <option value="14">Home &amp; Kitchen</option>
                                            <option value="15">Large Appliances</option>
                                            <option value="16">Armchairs</option>
                                            <option value="17">Bunk Bed</option>
                                            <option value="18">Mattress</option>
                                            <option value="19">Sideboard</option>
                                            <option value="20">Small Appliances</option>
                                            <option value="21">Bootees Bags</option>
                                            <option value="22">Jackets</option>
                                            <option value="23">Shelf</option>
                                            <option value="24">Shoes</option>
                                            <option value="25">Phones &amp; Tablets</option>
                                            <option value="26">Tablet</option>
                                            <option value="27">phones</option>
                                        </select>
                                    </div>
                                    <input type="text" name="search" placeholder="Enter your search key ... ">
                                    <button><i class="ion-ios-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Categorie Search Box End Here -->
                        <!-- Cart Box Start Here -->
                        <div class="col-lg-3 col-md-12">
                            <div class="cart-box mt-all-30">
                                <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
                                   <li><a class="wish-list-item" href="wishlist.html"><i class="ion-android-favorite-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-bag"></i><span class="total-pro">2</span><span class="my-cart"><span>my cart</span><span class="total-price">$ 64.95</span></span></a>
                                        <ul class="ht-dropdown cart-box-width">
                                            <li>
                                                <!-- Cart Box Start -->
                                                <div class="single-cart-box">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/products/1.jpg" alt="cart-image"></a>
                                                        <span class="pro-quantity">1X</span>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h6><a href="product.html">Printed Summer Red </a></h6>
                                                        <span class="cart-price">27.45</span>
                                                        <span>Size: S</span>
                                                        <span>Color: Yellow</span>
                                                    </div>
                                                    <a class="del-icone" href="#"><i class="ion-close"></i></a>
                                                </div>
                                                <!-- Cart Box End -->
                                                <!-- Cart Box Start -->
                                                <div class="single-cart-box">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/products/2.jpg" alt="cart-image"></a>
                                                        <span class="pro-quantity">1X</span>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h6><a href="product.html">Printed Round Neck</a></h6>
                                                        <span class="cart-price">45.00</span>
                                                        <span>Size: XL</span>
                                                        <span>Color: Green</span>
                                                    </div>
                                                    <a class="del-icone" href="#"><i class="ion-close"></i></a>
                                                </div>
                                                <!-- Cart Box End -->
                                                <!-- Cart Footer Inner Start -->
                                                <div class="cart-footer">
                                                   <ul class="price-content">
                                                       <li>Subtotal <span>$57.95</span></li>
                                                       <li>Shipping <span>$7.00</span></li>
                                                       <li>Taxes <span>$0.00</span></li>
                                                       <li>Total <span>$64.95</span></li>
                                                   </ul>
                                                    <div class="cart-actions text-center">
                                                        <a class="cart-checkout" href="checkout.html">Checkout</a>
                                                    </div>
                                                </div>
                                                <!-- Cart Footer Inner End -->
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cart Box End Here -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Middle End Here -->
            <!-- Header Bottom Start Here -->
            <div class="header-bottom dark-blue-bg header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-9 col-lg-9 col-md-12 ">
                            <nav class="d-none d-lg-block">
                                <ul class="header-bottom-list d-flex">
                                    <li><a href="index.html">home<i class="fa fa-angle-down"></i></a>
                                        <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown">
                                            <li><a href="index.html">Home Version 1</a></li>
                                            <li><a href="index-2.html">Home Version 2</a></li>
                                            <li><a href="index-3.html">Home Version 3</a></li>
                                            <li><a href="index-4.html">Home Version 4</a></li>
                                        </ul>
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                    <li><a href="terms-conditions.html">Terms and conditions</a></li>
                                    <li><a href="shop.html">shop<i class="fa fa-angle-down"></i></a>
                                        <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown dropdown-style-two">
                                            <li><a href="product.html">product details</a></li>
                                            <li><a href="compare.html">compare</a></li>
                                            <li><a href="cart.html">cart</a></li>
                                            <li><a href="checkout.html">checkout</a></li>
                                            <li><a href="wishlist.html">wishlist</a></li>
                                        </ul>
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                    <li  class="active"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a>
                                        <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown dropdown-style-two">
                                            <li><a href="single-blog.html">blog details</a></li>
                                        </ul>
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                    <li><a href="#">pages<i class="fa fa-angle-down"></i></a>
                                        <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown dropdown-style-two">
                                            <li><a href="contact.html">contact us</a></li>
                                            <li><a href="register.html">register</a></li>
                                            <li><a href="login.html">sign in</a></li>
                                            <li><a href="forgot-password.html">forgot password</a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                    <li><a href="about.html">About us</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu d-block d-lg-none">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">home</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul>
                                                <li><a href="index.html">Home Version 1</a></li>
                                                <li><a href="index-2.html">Home Version 2</a></li>
                                                <li><a href="index-3.html">Home Version 3</a></li>
                                                <li><a href="index-4.html">Home Version 4</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="shop.html">shop</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="product.html">product details</a></li>
                                                <li><a href="compare.html">compare</a></li>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="checkout.html">checkout</a></li>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="blog.html">Blog</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="single-blog.html">blog details</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="#">pages</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="register.html">register</a></li>
                                                <li><a href="login.html">sign in</a></li>
                                                <li><a href="forgot-password.html">forgot password</a></li>
                                                <li><a href="404.html">404</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="about.html">about us</a></li>
                                        <li><a href="contact.html">contact us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 text-right">
                            <span class="header-right"><i class="ion-ios-telephone"></i>Hotline: <span class="header-helpline">+088 12 345 678</span></span>
                        </div>
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Bottom End Here -->
            <!-- Mobile Vertical Menu Start Here -->
            <div class="container d-block d-lg-none">
                <div class="vertical-menu mt-30">
                    <span class="categorie-title mobile-categorei-menu">all Categories <i class="fa fa-angle-down"></i></span>
                    <nav>  
                        <div id="cate-mobile-toggle" class="category-menu sidebar-menu sidbar-style mobile-categorei-menu-list menu-hidden ">
                            <ul>
                                <li class="has-sub"><a href="#">Electronics</a>
                                    <ul class="category-sub">
                                        <li><a href="shop.html">Cords and Cables</a></li>
                                        <li><a href="shop.html">gps accessories</a></li>
                                        <li><a href="shop.html">Microphones</a></li>
                                        <li><a href="shop.html">Wireless Transmitters</a></li>
                                    </ul>
                                    <!-- category submenu end-->
                                </li>
                                <li class="has-sub"><a href="#">Fashion</a>
                                    <ul class="category-sub">
                                        <li><a href="shop.html">Fashion one</a></li>
                                        <li><a href="shop.html">Fashion two</a></li>
                                        <li><a href="shop.html">Fashion three</a></li>
                                        <li><a href="shop.html">Fashion Four</a></li>
                                    </ul>
                                    <!-- category submenu end-->
                                </li>
                                <li class="has-sub"><a href="#">Home & Kitchen</a>
                                    <ul class="category-sub">
                                        <li><a href="shop.html">kithen one</a></li>
                                        <li><a href="shop.html">kithen two</a></li>
                                        <li><a href="shop.html">kithen three</a></li>
                                        <li><a href="shop.html">kithen four</a></li>
                                    </ul>
                                    <!-- category submenu end-->
                                </li>
                                <li class="has-sub"><a href="#">Phones & Tablets</a>
                                    <ul class="category-sub">
                                        <li><a href="shop.html">phone one</a></li>
                                        <li><a href="shop.html">Tablet two</a></li>
                                        <li><a href="shop.html">Tablet three</a></li>
                                        <li><a href="shop.html">phone four</a></li>
                                    </ul>
                                    <!-- category submenu end-->
                                </li>
                                <li class="has-sub"><a href="#">TV & Video</a>
                                    <ul class="category-sub">
                                        <li><a href="shop.html">smart tv</a></li>
                                        <li><a href="shop.html">real video</a></li>
                                        <li><a href="shop.html">Microphones</a></li>
                                        <li><a href="shop.html">Wireless Transmitters</a></li>
                                    </ul>
                                    <!-- category submenu end-->
                                </li>
                                <li><a href="#">Beauty</a> </li>
                                <li><a href="#">Sport & tourisim</a></li>
                                <li><a href="#">Meat & Seafood</a></li>
                            </ul>
                        </div>
                        <!-- category-menu-end -->
                    </nav>
                </div>
            </div>
            <!-- Mobile Vertical Menu Start End -->
        </header>
        <!-- Main Header Area End Here -->
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="blog">Blog</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Blog Page Start Here -->
        <div class="blog ptb-45">
            <div class="container">
                <div class="main-blog">
                    <div class="row">
                        <!-- Single Blog Start -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-latest-blog mb-xsm-30">
                                <div class="blog-img">
                                    <a href="single-blog.html"><img src="img/blog/8.jpg" alt="blog-image"></a>
                                </div>
                                <div class="blog-desc">
                                    <h4><a href="single-blog.html">Amber Interiors</a></h4>
                                    <ul class="meta-box d-flex">
                                        <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>oct 27, 2018</span></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Volga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-latest-blog mb-30 mb-xsm-30">
                                <div class="blog-img">
                                    <a href="single-blog.html"><img src="img/blog/1.jpg" alt="blog-image"></a>
                                </div>
                                <div class="blog-desc">
                                    <h4><a href="single-blog.html">Coco Lapine Design</a></h4>
                                    <ul class="meta-box d-flex">
                                        <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>oct 27, 2018</span></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Volga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-latest-blog mb-30 mb-xsm-30">
                                <div class="blog-img">
                                    <a href="single-blog.html"><img src="img/blog/9.jpg" alt="blog-image"></a>
                                </div>
                                <div class="blog-desc">
                                    <h4><a href="single-blog.html">Style by Emily Henderson</a></h4>
                                    <ul class="meta-box d-flex">
                                        <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>oct 27, 2018</span></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Volga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-latest-blog mb-30 mb-xsm-30">
                                <div class="blog-img">
                                    <a href="single-blog.html"><img src="img/blog/2.jpg" alt="blog-image"></a>
                                </div>
                                <div class="blog-desc">
                                    <h4><a href="single-blog.html">Amber Interiors</a></h4>
                                    <ul class="meta-box d-flex">
                                        <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>oct 27, 2018</span></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Volga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-latest-blog mb-30 mb-xsm-30">
                                <div class="blog-img">
                                    <a href="single-blog.html"><img src="img/blog/5.jpg" alt="blog-image"></a>
                                </div>
                                <div class="blog-desc">
                                    <h4><a href="single-blog.html">Coco Lapine Design</a></h4>
                                    <ul class="meta-box d-flex">
                                        <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>oct 27, 2018</span></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Volga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-latest-blog mb-30 mb-xsm-30">
                                <div class="blog-img">
                                    <a href="single-blog.html"><img src="img/blog/7.jpg" alt="blog-image"></a>
                                </div>
                                <div class="blog-desc">
                                    <h4><a href="single-blog.html">Style by Emily Henderson</a></h4>
                                    <ul class="meta-box d-flex">
                                        <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>oct 27, 2018</span></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Volga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-latest-blog mb-xsm-30">
                                <div class="blog-img">
                                    <a href="single-blog.html"><img src="img/blog/4.jpg" alt="blog-image"></a>
                                </div>
                                <div class="blog-desc">
                                    <h4><a href="single-blog.html">Amber Interiors</a></h4>
                                    <ul class="meta-box d-flex">
                                        <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>oct 27, 2018</span></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Volga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-latest-blog mb-xsm-30">
                                <div class="blog-img">
                                    <a href="single-blog.html"><img src="img/blog/3.jpg" alt="blog-image"></a>
                                </div>
                                <div class="blog-desc">
                                    <h4><a href="single-blog.html">Coco Lapine Design</a></h4>
                                    <ul class="meta-box d-flex">
                                        <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>oct 27, 2018</span></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Volga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-latest-blog">
                                <div class="blog-img">
                                    <a href="single-blog.html"><img src="img/blog/6.jpg" alt="blog-image"></a>
                                </div>
                                <div class="blog-desc">
                                    <h4><a href="single-blog.html">Style by Emily Henderson</a></h4>
                                    <ul class="meta-box d-flex">
                                        <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>oct 27, 2018</span></li>
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Volga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                    </div>
                    <!-- Row End -->
                    <div class="row mt-20">
                        <div class="col-sm-12">
                            <ul class="blog-pagination ptb-20">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                            <!-- End of .blog-pagination -->
                        </div>
                    </div>
                    <!-- Row End -->
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Blog Page End Here -->
        <!-- Signup Newsletter Start -->
        <div class="newsletter light-blue-bg">
            <div class="container">
                <div class="row">
                     <div class="col-xl-5 col-lg-6">
                         <div class="main-news-desc mb-all-30">
                             <div class="news-desc">
                                 <h3>Sign Up For Newsletters</h3>
                                 <p>Be the First to Know. Sign up for newsletter today</p>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-7 col-lg-6">
                         <div class="newsletter-box">
                             <form action="#">
                                  <input class="subscribe" placeholder="your email address" name="email" id="subscribe" type="text">
                                  <button type="submit" class="submit">subscribe!</button>
                             </form>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Signup-Newsletter End -->
        <!-- Footer Area Start Here -->
        <footer class="white-bg pt-45">
            <!-- Footer Top Start -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <!-- Single Footer Start -->
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer mb-sm-40">
                                <h3 class="footer-title">Products</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">prices drop</a></li>
                                        <li><a href="#">new products</a></li>
                                        <li><a href="#">best sale</a></li>
                                        <li><a href="contact.html">contact us</a></li>
                                        <li><a href="account.html">My Account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer style-change mb-sm-40">
                                <h3 class="footer-title">Our company</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="login.html">delivery</a></li>
                                        <li><a href="#">legal notice</a></li>
                                        <li><a href="#">terms & condition</a></li>
                                        <li><a href="about.html">about us</a></li>
                                        <li><a href="contact.html">contact us</a></li>
                                        <li><a href="#">Site Map</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer mb-sm-40">
                                <h3 class="footer-title">Your account</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="login.html">addresses</a></li>
                                        <li><a href="#">credit slips</a></li>
                                        <li><a href="#">orders</a></li>
                                        <li><a href="#">personal info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-footer">
                                <div class="logo-footer">
                                    <a href="index.html"><img src="img/logo/logo2.png" alt="footer-logo"></a>
                                </div>
                                <div class="footer-content">
                                    <p>We are a team of designers and developers that create high quality HTML, Magento, Prestashop, Opencart.</p>
                                    <h5 class="contact-info mtb-10">contact info:</h5>
                                    <p>Address will be here</p>
                                    <div class="social-footer-list mt-20">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Top End -->
            <!-- Footer Middle Start -->
            <div class="footer-middle text-center pb-20">
                <div class="container">
                    <div class="footer-middle-content ptb-45">
                        <div class="tag-content"><a href="#">Online Shopping</a> <a href="#">Promotions</a> <a href="#">My Orders</a> <a href="#">Help</a> <a href="#">Customer Service</a> <a href="#">Support</a> <a href="#">Most Populars</a> <a href="#">New Arrivals</a> <a href="#">Special Products</a> <a href="#">Manufacturers</a> <a href="#">Our Stores</a> <a href="#">Shipping</a> <a href="#">Payments</a> <a href="#">Warantee</a> <a href="#">Refunds</a> <a href="#">Checkout</a> <a href="#">Discount</a> <a href="#">Terms & Conditions</a> <a href="#">Policy</a> <a href="#">Shipping</a> <a href="#">Payments</a> <a href="#">Returns</a> <a href="#">Refunds</a></div>
                        <div class="payment mt-25">
                            <a href="#"><img class="img" src="img/payment/1.png" alt="payment-image"></a>
                        </div>
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Middle End -->
            <!-- Footer Bottom Start -->
            <div class="footer-bottom off-white-bg ptb-25">
                <div class="container">
                     <div class="col-sm-12">
                         <div class="row justify-content-md-between justify-content-center footer-bottom-content">                    
                            <p>Copyright © <a target="_blank" href="#">Volga</a> All Rights Reserved.</p>
                            <div class="footer-bottom-nav mt-sm-15">
                                <nav>
                                    <ul class="footer-nav-list">
                                        <li><a href="index.html">home</a></li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                         </div>
                         <!-- Row End -->
                     </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Bottom End -->
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="js/main.js"></script>
</body>

</html>